body {
  background-color: lightgrey;
  color: white;
}

h1 {
text-align: center;
font-size: 48px;
}

.button-holder {
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn {
  margin: 20px;
}

.hide {
  display: none;
}

.reset {
  display: flex; 
  justify-content: center;
  align-items: center;
}

.panel {
  height: 625px;
  background-color: gray;
}

.panel-body img {
  width: 400px;
  height: 400px;
}

.center {
  text-align: center;

}

